.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.git/
.gitconfig
.gnupg/
.lesshst/
.local/
.mozilla/
.nvidia-settings-rc
.pki/
.pulse-cookie
.shell.pre-oh-my-zsh
.spicetify/
.steam/
.steampath
.steamid
.viminfo
.wget-hsts
.zcompdump-inspiron-5.8.1
.zoom/
.zsh_history
code/
audio/
data/
dl/
docs/
encrypted/
iso/
machines/
vids/

